<div class="row">
	<div class="col-xs-12 col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-body text-center">
				<span class="section-title">Edit <%= @group.name %></span>
			</div>
		</div>
		<%= render 'form' %>
	</div>
</div>