<% @title = "Groups" %>

<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body text-center">
      <span class="section-title">Your Groups</span><br>
      <%= link_to "New Group", new_group_path, class: 'btn btn-primary btn-xs' %> 
      </div>
    </div>
  </div>
</div>

<% @groups.each do |group| %>
	<%= render 'group', group: group %>
<% end %>