<% @title = "Edit Event" %>

<div class="row">
	<div class="col-xs-12 col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-body text-center">
			<span class="section-title">Edit <%= @event.name %></span>
			</div>
		</div>
		<%= render 'form' %>
		<div class="text-center edit-links">
			<%= link_to "Delete Event", event_path(@event), method: :delete, data: { confirm: "Are you sure you want to delete this event?" } %>
			|
			<%= link_to "Cancel", event_path(@event) %>
		</div>
	</div>
</div>