<div class="events-wrapper row">
	<div id="events">
	  <% @events.each do |event| %>
	    <%= render 'event', event: event %>
	  <% end %>
  </div>
</div>
<div class="text-center" id="paginator">
	<%= link_to_next_page @events, 'More Events', remote: true, id: 'load_more' %>
</div>