<div class="row">
	<div class="col s12 m8 offset-m2">
		<div class="card-panel pink darken-1">
			<div class="center-align">
			<h5 class="white-text">Upcoming Events in 杭州</h2>
		</div>
	</div>
</div>

<div id="events">
  <% @events.each do |event| %>
    <%= render 'event', event: event %>
  <% end %>
</div>
<div class="text-center" id="paginator">
	<%= link_to_next_page @events, 'More Events', remote: true, id: 'load_more' %>
</div>