<!-- Event panel -->
<%= render 'event', event: @event %>

<!-- Event comment panel -->
<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">
        Comments: 
        <hr>
        <!-- Comments section -->
        <%#= render 'comments/comment' %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="text-right">
      <%= @event.attendees.size %> attending
			<%= link_to "Participants", event_attendees_path(@event), class:"btn btn-primary btn-sm" %>
			<%= link_to "Back", :back, class:"btn btn-primary btn-sm"%>
    </div>
  </div>
</div>