<div class="row">
  <div class="col s12 m8 offset-m2">
    <% @proposals.each do |proposal| %>
      <%= render 'proposal', proposal: proposal %>
    <% end %>
  </div>
</div>

<%= render 'layouts/fab', group: @group %>