<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body text-center">
      <span class="section-title"><%= @group.name %> Proposals</span><br>
      <%= link_to "Back to group", group_path(@group), class: 'btn btn-primary btn-xs' %>
      <%= link_to "New Proposal", new_group_proposal_path, class: 'btn btn-primary btn-xs' %> 
      </div>
    </div>
  </div>
</div>

<% @proposals.each do |proposal| %>
	<%= render 'proposal', proposal: proposal %>
<% end %>